<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="www.SoLaNoSoft.com.BearChessWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <www.SoLaNoSoft.com.BearChessWin.Properties.Settings>
            <setting name="UseGraphicsBoard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphicsBoardWood" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GraphcicsPiecesWood" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GrapicsPiecesFlat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhiteFieldColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BlackFieldColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="PiecesFont" serializeAs="String">
                <value>Merida</value>
            </setting>
            <setting name="GraphicsSymbolType" serializeAs="String">
                <value>0</value>
            </setting>
        </www.SoLaNoSoft.com.BearChessWin.Properties.Settings>
    </userSettings>
</configuration>
